body {
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    text-align:center;
    vertical-align: baseline;
    background-color: slategray;
}

div {
    padding: 10px;
    border-bottom: solid;
    border-bottom-width: 2px;
    border-bottom-color: #c0c0d0;
    background-color: lightblue;
}

.centered {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

#flightStatus {
    color: green;
}

#flightDisplay {
    width: 100%;
    margin: 0 auto;
    display: flexbox;
}

#shuttleBackground {
    display: inline-block;
    position: relative;
    margin: 20px;
    height: 200px;
    width: 200px;
    background-color: green;
}

#rocket {
    position: absolute;
    left: 90px; /* why this is centered instead of 180px? */
    rotate: 0deg;
    bottom: 0;
}

.center-block {
    display: inline-block;
    width: 15%;
}

#shuttleHeight {
    display: inline-block;
}

#up {
    display: block;
    margin: 5px auto;
}

#left {
    margin: 5px 10%;
}

#right {
    /* float: left; */
    margin: 5px 5%;
}

#down {
    display: block;
    margin: 5px auto;
}