body {
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    text-align:center;
    vertical-align: baseline;
}

div {
    padding: 10px;
    border: solid;
    border-width: 1px;
    border-color: red;
    /* background-color: aqua; */
}

#flightStatus {
    color: green;
}

#flightDisplay {
    width: 100%;
    display: flexbox;
}

#shuttleBackground {
    background-color: green;
    display: inline-block;
    position: relative;
    height: 400px;
    width: 400px;
}

#rocket {
    position: absolute;
    left: 180px;
    bottom: 0;
}

#shuttleHeight {
    display: inline-block;
}

.center-block {
    display: inline-block;
}

.centered {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
}