* {
    margin: 0;
    padding: 0;
}

body {
    display: block;
    background-image: linear-gradient(to bottom, black, rgb(72, 38, 87));
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4px;
}

.star {
    z-index: -100;
    position: absolute;
    /* text-shadow: 0px 0px 50px yellow, 0px 0px 5px ghostwhite; */
}

h1 {
    margin: 10px;
    text-shadow: 0px 0px 50px yellow, 0px 0px 10px ghostwhite;
}

#container {
    display: block;
    width: 90%;
    margin: 0 auto 10%;
    text-align: center;
    font-size: xx-large;
    /* border: 1px solid red; */
}

.astronaut {
    display: inline-block;
    width: 600px;
    height: 180px;
    margin: 10px;
    border: 5px solid darkgray;
    border-radius: 20px;
    background-color: lightgray;
    text-align: left;
    font-size: medium;
}

.avatar {
    float: right;
    margin: 20px;
    border: 5px solid darkgray;
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

.bio {
    float: left;
    margin: 20px 0;
    width: 70%;
    /* border: 1px solid blue; */
}

.names {
    padding-left: 30px;
    border-radius: 0 15px 15px 0;
    background-color: orange;
    font-size: xx-large; 
    font-style: oblique;
    color: white;
}

.info {
    padding: 20px 0 0 20px;
    color: #666;
    /* background-color: aqua; */
}

.active {
    float: right;
    font-weight: bold;
    color: limegreen;
}

.inactive {
    float: right;
    font-weight: bold;
    color: darkgray;
}

.astronaut ul {
    margin-left: 10px;
}

.astronaut li {
    list-style-type: none;
    padding: 5px;
}