body {
   background-color: yellow;
   color: green;
   text-align: center;
}

h1 {
   font-size: 36px;
}

.center {
   text-align: center;
}

#cool-text {
   color: blue;
}

#list-color {
   color: violet;
}